<div *ngIf="cartPrice" class="cart-buy-box">
  <div class="total-price">Total: {{ cartPrice | currency }}</div>
  <div class="cart-btn-container">
    <button (click)="removeAll()" class="remove-all-btn">Remove All</button
    ><button (click)="buyAll()" class="buy-btn">Buy All</button>
  </div>
</div>
<div *ngIf="isBought" class="successful-purchase-container">
  <div class="modal-inner">
    <h1>You have successfully purchased everything!</h1>
  </div>
</div>
<div *ngIf="isRemoved" class="successful-remove-container">
  <div class="modal-inner">
    <h1>You have successfully removed items from the cart!</h1>
  </div>
</div>
